# Node modules
/node_modules/

# Logs
*.log

# Coverage
/coverage/

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vite
/.vite/
/dist/

# IDEs and editors
/.idea/
/.vscode/
/*.swp
*.sublime-workspace

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

.storybook/cache

/storybook-static/
